<div class="row">
  <div class="col-xs-12">
    <% if current_user %>
      <div class="panel panel-info no-overflow">
        <div class="panel-heading">
          <div class="panel-title text-center">
            <h1>Welcome Back, <%= @username %>!</h1>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 border-right-dashed">
            <h6>Your last visit was <%= time_ago_in_words(@user.last_sign_in_at) %> ago.</h6>
            <p><i class="fas fa-key fa-fw"></i> <%= link_to 'Change Your Password', edit_user_registration_path %></p>
            <p id="total_items"><i class="far fa-square fa-fw"></i> Items: <%= @user.items.all.count %></p>
            <p>
              <span class="fa-stack fa-fw alert_layer">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-times fa-stack-1x fa-inverse"></i>
              </span> Expiring Items: <%= @user.items.all.where('expires_at < ?', Time.now + 2.days).count %>
            </p>
          </div>
          <div class="col-md-8">
            <h5 class="text-center mar-top-0">New To-Do Task</h5>
            <div id="todo_form"></div>
            <!--
            <form class="form-horizontal">
              <div class="form-group">
                <label for="todo_title" class="col-sm-2">ToDo Taks</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="todo_title" placeholder="ToDo Task" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Add ToDo Item</button>
                </div>
              </div>
            </form>
            -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container todo-group">
  <div class="row">
    <div class="col-xs-12">
      <h1>Your Tasks</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 text-center todo_item">
      <div class="panel panel-primary panel-shadow no-overflow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-2">
              <i class="far fa-square fa-2x unfinished_task toggle_task"></i>
            </div>
            <div class="col-sm-10 text-right">
              <div class="font-2x text-center">
                <%= form_with model: [@user,@item], class: 'new_item_form form_control' do |f| %>
                  <%= f.text_field :name, maxlength: 15, id: 'new_todo_name', class: 'form-control input-lg' %>
                  <%= f.button :submit, class: 'btn btn-default' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="items">
      <%= render @items %>
    </div>
  </div>
</div>